<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62673/LoginService.asmx"
                binding="basicHttpBinding" bindingConfiguration="LoginServiceSoap"
                contract="LoginServiceReference.LoginServiceSoap" name="LoginServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>