@{
    ViewBag.Title = "Anasayfa";
}

<div class="row">
    <div class="col-md-12">
        <h2>Kiralanabilir Araçlar</h2>
    </div>
</div>

<div class="jumbotron">
    <p class="lead">Araçlar burada gözükücek</p>
</div>